{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Testimoni Page{% endblock %}

{% block javascript %}
<script>
jQuery(document).ready(function() {
    list_user();
 });

function list_user(){
    $.ajax({
        url : '/aboutus/list_user/',
        data : { csrfmiddlewaretoken: '{{ csrf_token }}', 
        
        },
        success : function(json) {
            $('#results3').html("");
            for (let i = json.data.length-1; i > 0 ;i--){
                $('#results3').append("<div class='dialogbox'><div class='body'><span class='tip tip-left'></span><div class='message'><span>Nama :"+json.data[i].nama+"<br>Email :"+json.data[i].email+"<br>Comment: "+json.data[i].text+"</span></div></div></div>")
            }
        },
        error : function(xhr,errmsg,err){
            $('#results3').html("<div class='alert-box alert radius' data-alert><a href='#' class='close'>Oops error</a></div>")
        }
    });
};
function create_testimoni(){
    $.ajax({
        url : '/aboutus/testimoni/',
        type : "POST", 
        data : { text : $('#testimoniTest').val(),
                 csrfmiddlewaretoken: '{{ csrf_token }}',
        }, 
        success : function(json) {
            list_user();
        },
        error : function(xhr,errmsg,err){
            alert("Your message must have at least 1 character");
        }
    });
};
</script>
{% endblock %}
{% block link %}
<style>
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}
</style>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<form method="POST" id="post-text" onsubmit="return false;">
    <div class="form-group">
    {% csrf_token %}
    <label for="exampleFormControlTextarea1">Submit your testimoni</label>
    <input class="form-control" id="testimoniTest" type="textarea" rows="3">{{ form.text }}</input>
    <button id="submit_test" type="submit" value="Submit" class="btn btn-primary" onclick=create_testimoni()>Submit</button>
  </div>
</form>
{% else %}
<h1>You must login first to submit your testimoni</h1>
<form method="POST" id="post-text" onsubmit="return false;">
    <div class="form-group">
    {% csrf_token %}
    <label for="exampleFormControlTextarea1">Submit your testimoni</label>
    <input class="form-control" id="testimoniTest" type="textarea" rows="3">{{ form.text }}</input>
    <button disabled id="submit_test" type="submit" value="Submit" class="btn btn-primary" onclick=create_testimoni()>Submit</button>
  </div>
</form>
{% endif %}
<div id="results3">
 <div class="dialogbox">
    <div class="body">
      <span class="tip tip-left"></span>
      <div class="message">
        <span>Pepega Monsieur</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:;">
    <div class="navbar-brand">
    Student Union 2017-2018</p></div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
     </li>
</ul>
</div>
{% endblock %}