
{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'events.css' %}">
{% endblock %}

{% block link %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">

{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <h1>Events to attend:</h1>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="infinite-container">
        {% for event in list_event_new %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a href="/events/{{events.id}}">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{events.image}}" alt="Avatar" style="width:500px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>{{event.judul_events}}</h1> 
                            <p>{{event.venue_events}}</p> 
                            <p>{{event.date_events}}</p>
                        </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:200px;">
    <div class="navbar-brand">
    Student Union 2017-2018</p></div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
     </li>
</ul>
</div>
{% endblock %}


