{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'events.css' %}">
{% endblock %}
{% block content %}
    <div class="row particular">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h1 class="judul">
                {{ events.judul_events }}</h1><br><br>
            <center><img class="pic" src="{{ events.image }}"></center><br><br>
            <h4>{{ events.desc_events }}</h4><br>
            <br>
            <center>
                <h3>Detail</h3>
            </center>
            <h4>Date :
                <br>{{ events.date_events }}</h4>
            <br><br>
            <center>
                <h3>Venue</h3>
            </center>
            <h4>{{ events.venue_events }}</h4>
            <br>
            <br>
             <center>
                <h3>Participant</h3>
            </center>
            {% for p in part %}
                 <h4>{{ p.name }}</h4>
            {% endfor %}
            <br>
            <br>
           
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <h1 >Other Events</h1>
            <br>
            <br>
            {% for events in list_events %}
                <a href="/events/{{events.id}}">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{events.image}}" alt="Avatar" style="width:300px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>{{events.judul_events}}</h1> 
                            <p>{{events.venue_events}}</p> 
                            <p>{{events.date_events}}</p>
                        </div>
                        </div>
                    </div>
                </a>
                <br>
                <br><br>
                
            {% endfor %}
        </div>
    </div>



<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <form action="" method="POST">
            {% csrf_token %}
     <button type="submit" value="Submit" class="btn btn-success">Daftar Event</button>
</form>
           
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:200px;">
    <div class="navbar-brand">
        Student Union 2017-2018</p>
</div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
    </li>
</ul>
{% endblock %}
