{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Hello, World</h1><br>
<a href="news/"><h2>News<h2></a>
<a href="aboutus/"><h2>About Us</h2></a>
{% endblock %}