
{% extends 'base.html' %}
{% load staticfiles %}

{% block link %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">

{% endblock %}

{% block title %}STUDENT UNION - Home{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="container-fluid>" id="body" style="background-color: #41B3A3;">
	<div class="row">
        <div class="col-sm-6"><h1 class="joinUs1" style="color:#41B3A3;">STUDENT UNION</h1></div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6"><h1 class="joinUs1">STUDENT UNION</h1></div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><h2 class="joinUs2">120</h2> <h3 class="joinUs3">MEMBERS</h3></div>
        <div class="col-sm-1"><a class="btn" href="{% url 'social:begin' 'google-oauth2' %}" role="button">LOG IN</a></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><img src="{% static 'phone.jpg'%}" class="phone1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><img src="{% static 'phone.jpg'%}" class="phone2"></div>
        <div class="col-sm-1"></div>
      </div>
	  <br>
	  <br>
  </div>

	<div class="container-fluid">
		<h1  class="events"> NEWS </h1>
		<br>
		<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->

		{%for i in news%}
    <div class="carousel-item active">

      <div class="col-md-4">
        <div class="card mb-2">
			<img src="{% static i.image_news %}" height="300" width="300">
          
          <div class="card-body">
            <h4 class="card-title">{{i.judul_news}}</h4>
            <p class="card-text">{{i.desc_news}}</p>
            <a class="btn btn-primary" href="{% url 'news'%}">Read More</a>
          </div>
        </div>
      </div>
    </div>
		 {% endfor %}
    <!--/.First slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
	</div>

  <div class="container-fluid">
		<h1  class="events"> Upcoming Events </h1>
		<br>
		<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->

		{%for i in events%}
    <div class="carousel-item active">

      <div class="col-md-4">
        <div class="card mb-2">
          <img src="{{i.image}}" height="300" width="300">
          <div class="card-body">
            <h4 class="card-title">{{i.judul_events}}</h4>
            <p class="card-text">{{i.desc_events}}</p>
            <a class="btn btn-primary" href="{% url 'events'%}">Read More</a>
          </div>
        </div>
      </div>
    </div>
		 {% endfor %}
    <!--/.First slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
	</div>
</div>

<script>
// MDB Lightbox Init
$(function () {
	$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
});
</script>
{% endblock %}


