{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ news.judul_news }}{% endblock %}
{% block javascript %}
<script src="{% static 'ph.js' %}"></script>
<script>
function like_news(){
    $.ajax({
        url : '/news/like_news/id/{{ news.id }}/',
        type : "POST",
        data : { csrfmiddlewaretoken: '{{ csrf_token }}', 
        },
        success : function(json){
            alert("Success Liking This News");
        },
        error : function(errmsg){
            alert("You must login to like this news");
        }
    })
}
</script>
{% endblock %}
{% block content %}
<h1> News </h1><br>
<div class="container">
    <div class="row">
        <div class="col-md-9">
        <h5>Kategori : {{ news.categories_news}}<h5>
        <h1>{{ news.judul_news }}</h1>
        {{ news.date_news }}<br>
        {{ news.desc_news }}<br><br>
        <h5>Sumber : {{ news.source_news}}<h5>
        
        </div>
        <div class="col-md-3">
            <img src="{% static news.image_news %}" height="300" width="300">
        </div>
</div>       
<div class="container" style="margin-bottom:30px">
<h2>Berita ini disukai oleh</h2>
{% if news.user_like %}
    <ol>
    {% for user in news.user_like.all %}
        <li>
            Username : {{user.username}}<br>
            Nama : {{ user.name }}<br>
            Email : {{ user.email }}
        </li>
    {% endfor %}
    </ol>
{% endif %}
<h3>Like this news ?</h3>
{% if user.is_authenticated %}
<a href="/news/id/{{news.id}}/"><button class="btn btn-primary" onclick=like_news()>Like</button></a>
{% else %}
<h3><a href="{% url 'social:begin' 'google-oauth2' %}">Login</a> to like this news</h3>
<a href="/news/id/{{news.id}}/"><button disabled class="btn btn-primary" onclick=like_news()>Like</button></a>
{% endif %}
</div>

{% endblock %}
{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:200px;">
    <div class="navbar-brand">
    Student Union 2017-2018</p></div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
     </li>
</ul>
</div>
{% endblock %}